---
import '@/styles/globals.css'

import { I18N } from '@/utils/config.ts'
import Header from '@/components/layout/Header.tsx';
import Footer from '@/components/layout/Footer.tsx';
const { pageTitle } = Astro.props;


const {language, textDirection} = I18N
---

<html lang={language} dir={textDirection}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-200 dark:bg-slate-900">
    <Header client:load />
    <main>
    <slot />
    </main>
    <Footer />
  </body>
</html>