---
import '@/styles/globals.css'

import { I18N } from '@/utils/config.ts'
import CommonMeta from '@/components/common/CommonMeta.astro'
import Favicons from '@/components/common/Favicons.astro'
import ApplyColorTheme from '@/components/common/ApplyColorTheme.astro'
// need to import metadata component 
const { pageTitle } = Astro.props;


const {language, textDirection} = I18N
---
<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <ApplyColorTheme />
    <!-- Meta data component goes here -->
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-200 dark:bg-slate-900 antialiased text-default tracking-tight">
    <slot />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>