---
import '@/styles/globals.css'

import { I18N } from '@/utils/config.ts'
import CommonMeta from '@/components/common/CommonMeta.astro'
import Favicons from '@/components/common/Favicons.astro'
import Header from '@/components/layout/Header.tsx';
import Footer from '@/components/layout/Footer.tsx';
const { pageTitle } = Astro.props;


const {language, textDirection} = I18N
---
<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-slate-200 dark:bg-slate-900">
    <Header client:load />
    <main>
    <slot />
  <!-- comment to be deleted -->
    </main>
    <Footer />
  </body>
</html>